# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

#data
dataAnsh.jpg
anuAndVarshi.jpg
Arga.jpg
dinnerWithMembers.jpg
Joshua.jpg
Karan.jpg
leonAndMaria.jpg
Leon.jpg
Mahima.jpg
Maria.jpg
MariaSmiling.jpg
mary.jpg
Ruben.jpg
Silke.jpg
Varshi.jpg
