:root{
    --seasalt: #f9f9f9ff;
    --black: #000000ff;
    --school-bus-yellow: #ffd800ff;
    --blue-violet: #743debff;
    --french-gray: #bebfc5ff;
    --pacific-blue:#1FB1DE;
    --pacific-cyan:#22ADD6;

    /* CSS HSL */
    --seasalt: hsla(0, 0%, 98%, 1);
    --black: hsla(0, 0%, 0%, 1);
    --school-bus-yellow: hsla(51, 100%, 50%, 1);
    --blue-violet: hsla(259, 81%, 58%, 1);
    --french-gray: hsla(231, 6%, 76%, 1);

    --el-color-primary:var(--school-bus-yellow);
}
*{
    transition: 0.5s ease;
}
.main-page-header{
    border-radius:10px;
    width:100%;
    height: 100%;
    background-color: var(--school-bus-yellow);
}
.main-page-footer{
    width: 100%;
    height:100%;
    background-color: var(--school-bus-yellow);
}

.title-logo-and-text{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--school-bus-yellow);
    border-radius: inherit;
    
}

