:root{
    --seasalt: #f9f9f9ff;
    --black: #000000ff;
    --school-bus-yellow: #ffd800ff;
    --blue-violet: #743debff;
    --french-gray: #bebfc5ff;

    /* CSS HSL */
    --seasalt: hsla(0, 0%, 98%, 1);
    --black: hsla(0, 0%, 0%, 1);
    --school-bus-yellow: hsla(51, 100%, 50%, 1);
    --blue-violet: hsla(259, 81%, 58%, 1);
    --french-gray: hsla(231, 6%, 76%, 1);

    --el-color-primary:var(--school-bus-yellow);
}

.kamun-header,.kamun-main,.kamun-footer{
    min-height:90vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    overflow: hidden;   
}
.kamun-main{
     font-size: 2vmax;
    
}
.kamun-header{
    padding:0
}
.kamun-header .underlay{
    position: absolute;
    background-color: var(--seasalt);
    width:50%;
    margin: none;
    padding: none;
    border-bottom-right-radius:50px;
    left: 0;
}
.kamun-header .kamun-title{
    background: radial-gradient(var(--school-bus-yellow) 8%,transparent 8%);
    background-position: 0% 0%;
    background-size: 5vmin 5vmin;
    background-repeat: repeat;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    width:100%;
    
    margin: 0;
   
}

.kamun-title-text{
    font-size: 3em;
    margin-top: 0;
    color:var(--black)
}
.title-sub-text{
    color:var(--french-gray)
}
.kamun-header .media-container{
    position:absolute;
    z-index:-2;
    background-color:var(--blue-violet);
    width: 100%;
    max-height: 90vh;
}
.kamun-header  img{
    object-fit: fill;
    width:100%;
    max-height:90vh;
    z-index: -2;
}
.kamun-header .overlay{
    position: absolute;
    background-color: var(--seasalt);
    width:50%;
    margin: none;
    padding: none;
    border-top-left-radius:50px;
    right:0;
    bottom:0;
    text-align:right;
   
}
.kamun-header .overlay .overlay-content{
    background: radial-gradient(var(--school-bus-yellow) 8%,transparent 8%);
    background-position: 0% 0%;
    background-size: 5vmin 5vmin;
    background-repeat: repeat;
    width:100%;
    height: 100%;
    margin: 0;
}
.kamun-header .overlay .overlay-content h2{
    font-size:1.5em;
    margin-top: 0;
}
.kamun-main-section{
display: flex;
flex-direction: row;
background-color: var(--seasalt);
padding: 10px;
border-radius: 5px;

max-width: 100vw;
min-width:90vw;
}
@media (max-width: 768px) {
    .kamun-main-section {
        display: block;
    }
}
.kamun-main-section h2{
    color:var(--french-gray)
}