/* CSS HEX */
:root{
    --seasalt: #f9f9f9ff;
    --black: #000000ff;
    --school-bus-yellow: #ffd800ff;
    --blue-violet: #743debff;
    --french-gray: #bebfc5ff;
    --munika-blue:#4acef7;
    --pacific-cyan:#22ADD6;

    /* CSS HSL */
    --seasalt: hsla(0, 0%, 98%, 1);
    --black: hsla(0, 0%, 0%, 1);
    --school-bus-yellow: hsla(51, 100%, 50%, 1);
    --blue-violet: hsla(259, 81%, 58%, 1);
    --french-gray: hsla(231, 6%, 76%, 1);

    --el-color-primary:var(--munika-blue);
    --theme-color:var(--munika-blue);
   
    --special-green: #28afb0;
    --special-yellow:#f4d35e;
    --special-red:#EE964B;
    --translucent-munika-blue:#4acff783;
    --translucent-school-bus-yellow:rgba(255, 217, 0, 0.5);
}
@font-face {
    font-family:chomsky;
    src: url('./fonts/Chomsky-8MOa2.otf');
}
.custom-class {
    --el-tag-bg-color:var(--school-bus-yellow);
  }
*{
    transition: 0.5s ease;
}
html.dark{
    --el-bg-color:var(--black);
}
a {
    color: var(--theme-color);
}
/* Styles for the default Nav and footer pages */
body{
    background:linear-gradient(120deg,var(--seasalt), var(--theme-color),var(--seasalt));
    padding:0;
    margin: 0;
    overflow-x: hidden;
}
.super-container{
    margin: 0;
    padding: 0;
    background:linear-gradient(120deg, rgba(255,255,255) 0%, rgba(255,255,255,0.4) 40%, rgba(255,255,255,0.00) 100%);
    max-width:100vw;
    min-width:98vw;
    min-height:100vh;
}
.main-content{
    max-width:100%;
}
.main-page-header{
    width:100%;
    background-color:transparent;
    background-position: center;
    background-size: cover;
    height:60px;
}
.main-page-footer {
    width: 100%;
   height: 50px;
    min-height: 50px;
    background-color: var(--theme-color);
    color: white;
   
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
   
}

.title-holder{
   display: flex;
   justify-content: space-between;
   align-items: space-between;
   
    /* border-radius: inherit; */
    margin:5px;
    width:100%;
    margin:0;
     position:fixed;
    top:0px;
    left:50%;
    transform: translateX(-50%);
    z-index: 10;
    -webkit-backdrop-filter: blur(20px);
     backdrop-filter: blur(20px);
     /* background-color:hsla(0, 0%, 100%, 0.708); */
     padding:5px;
     box-shadow: 0px 0px 5px black;
    

    
}
.title-logo-and-text{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--theme-color);
    border-radius: 20px;
     color:white;
     font-size:4vmin;
      font-weight: 600;
       padding:2px;
       margin-left: 10px;
       margin-right: 10px;
       
   
}

.title-holder span,.show-text{
    text-align: center;
    font-weight: 600;
    font-size:3vmin;
    padding:2px;
    color:white;
    
}
    
.title-text{
    grid-area: text;
}
.logo-holder{
    grid-area:logo;
}
.nav-menu{
    position: relative;
    width:50%;
}
@media screen and (max-width:900px){
    .nav-menu{
         display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
.main-nav{
    background-color:var(--seasalt);
    
}
.special-menu-item{
    color: white;
    font-family: Tahoma;
    font-weight:bold;
    border:2px dashed white;
    scale: 2px;
     color: var(--theme-color);
    border-radius: 5px;
    box-shadow: 0px 0px 7px rgba(0,0,0,.7);
    background-color: var(--seasalt);
    transition: ease 0.5s;

}
.main-nav-show{
   width: 500px;
}


.el-menu--horizontal > .el-menu-item {
  margin-right: auto;
  
}

.el-menu--horizontal > .el-menu-item:last-child {
    color: var(--theme-color);
    border-radius: 5px;
    box-shadow: 0px 0px 7px rgba(0,0,0,.7);
    background-color: var(--seasalt);
    transition: ease 0.5s;
}
.el-menu--horizontal > .el-menu-item:last-child:hover {
    transform: scale(1.25);
}

  
.main-logo{
    border-radius: 50%;
    height:50px;
    width:50px;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body .light-theme{
    background-color: var(--black);
    color: var(--white);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   
}

/* General styles */
.munika-main-section{
    min-height: 100vh;
    max-width: 100vw;
   
}
.munika-header,.munika-main-section{
    min-height:50vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    overflow: hidden;   
}


.observer-section, .main-section{
display: flex;
flex-direction: row;
background-color: var(--seasalt);
align-items: flex-start;
padding: 10px;
border-radius: 5px;
max-width:100vw;
min-width:80vw;
opacity:0;
}
@media (max-width: 768px) {
    .main-section {
        display: block;
    }
}
.main-section h2{
    color:var(--french-gray)
}
/* Styles for landing page  */
.container-home{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width:100%;
}
@media screen and (max-width:900px){
    .container-home{
        height:80vh;
    }
}
.layered-content{
    position: absolute;
    width:100%;
    height:100%;
    overflow: hidden;
    display: grid;
    place-items:center;
   
}
.right-side{
 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   
}
.left-side{
    background: radial-gradient(var(--black) 8%,transparent 8%);
    background-position: 0% 0%;
    background-size: 5vmin 5vmin;
    background-repeat: repeat;
    z-index:3;
    color: black;
    left:0;
    transition: ease 0.5ms;
 }
  .left-side h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 8vmin;
 }
 .underlay-munika{
    z-index: 2;
    
    color: black;
    /* opacity: 0.7; */
   
 }
/* Styles for the team page */
.card-img{
    object-fit:contain;
    height:200px;
    width:100%;
}
.carousel-container{
    box-shadow: inset 0px 0px 20px black;
    background-image: url('/styleImgs/landscape-autum.jpg');
    background-position:0% 0%;
    background-size:cover;
    border-radius: 20px;
}
.people-card{
  height:100%;
  width:100%;

}

